#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.profile-prod.xcconfig"
#include "Generated.xcconfig"

ASSET_PREFIX=prod
BUNDLE_NAME=tandangi
BUNDLE_DISPLAY_NAME=tandangi
FRAMEWORK_SEARCH_PATHS[sdk=iphoneos*] = $(inherited) "$(FLUTTER_ROOT)/bin/cache/artifacts/engine/ios-release/Flutter.xcframework/ios-arm64"
FRAMEWORK_SEARCH_PATHS[sdk=iphonesimulator*] = $(inherited) "$(FLUTTER_ROOT)/bin/cache/artifacts/engine/ios-release/Flutter.xcframework/ios-arm64_x86_64-simulator"
